$Row: "ant-row";
$RowFlex: "ant-row-flex";
$Col: "ant-col";

.#{$Row} {
  position: relative;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  zoom: 1;
  display: block;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    display: table;
    box-sizing: border-box;
  }

  &::after {
    clear: both;
  }
}

/** 弹性布局Row **/
.#{$RowFlex} {
  display: flex;
  flex-flow: row wrap;
}
/** 弹性布局横向对齐方式 **/
.#{$RowFlex}-start {
  justify-content: flex-start;
}
.#{$RowFlex}-center {
  justify-content: center;
}
.#{$RowFlex}-end {
  justify-content: flex-end;
}
.#{$RowFlex}-space-between {
  justify-content: space-between;
}
.#{$RowFlex}-space-around {
  justify-content: space-around;
}
/** 弹性布局纵向对齐方式 **/
.#{$RowFlex}-top {
  align-items: flex-start;
}
.#{$RowFlex}-middle {
  align-items: center;
}
.#{$RowFlex}-bottom {
  align-items: flex-end;
}
